// Place all the styles related to the cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.all-cats {

  .card-columns {
    @media (max-width: 992px) {
      column-count: 2;
    }
  }

  .voting {
    position: absolute;
    bottom: 3.5em;
    left: 0;
  }

  .card-body {
    padding: 0.5em;
  }
}
