<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>All the cats</h1>
      <%= link_to 'New Cat', new_cat_path, class: "btn btn-primary" %>
      <br>
      <% if user_signed_in? %>
      <a href="/cats?user=me">Show my cats</a>
      <% end %>
    </div>
  </div>
  <div class="card-columns">
    <% @cats.each do |cat| %>
      <div class="card">
        <%= image_tag cat.picture_url(:thumb), :class => "card-img-top" if cat.picture.present? %>
        <div class="card-body">
          vote
          <% if user_signed_in? && cat.user == current_user %>
            <%= link_to icon('trash'), cat, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
